# Developer tools' files
.lite_workspace.lua
.github/
.vscode/
.tmp/

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
