# Developer tools' files
.lite_workspace.lua

# binaries and builds
/build/*
/bin
/dist

# Storage and Libs
/bstools/*
/Deimos_Storage/*

# cache 
/__pycache__/*
*.spec
build.sh

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log


/.github
/.vscode
/.tmp