# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Storage and Libs
/bstools/*
/Deimos_Storage/*

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log


/.github
/.vscode
/.tmp