
@font-face {
    font-family: nunito;
    src: url(../fonts/NunitoSans-Regular.ttf);
    font-weight: 500;
  }
:root {
    
    --blur-amount: 15px;
    --border-radius-value: 5px;
    --standard-colour: rgba(25,25,25,0.6);
    --standard-border-colour: rgba(42,42,42,0.6);
    --standard-text-colour: white;
    --dimmed-text: rgba(200, 200, 200, 0.9);

    --background-colour: #080808;

    --button-initial-colour: #9e0b35;
    --button-hover-colour: #e01d54;
    --button-pressed-colour: #7d092a;
    --button-disabled-colour: #450618;


    --open-animation-duration: 3s;
    --open-icon-animation-duration: 2.5s;
}



html,body {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: nunito;

    background-color: var(--background-colour);
    color: var(--standard-text-colour);
    margin: 0;
    height:100%;
    width: 100%;
}

body {
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}


.nav {
    pointer-events: visible;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    /*justify-content: space-evenly;*/
    background-color: var(--button-initial-colour);
    color: white;
    text-decoration: none;
    width: 50px;
    margin: 0;
    left: 0px;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    border-radius: var(--border-radius-value);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 5;
    backdrop-filter: blur(var(--blur-amount));
}

.nav span {
    position: relative;
    height: 50px;
    line-height: 50px;
    /* same as height! */
    padding: 0;
    margin: 0;
    bottom: 0;
    vertical-align: middle;
    text-align: center;

    display: block;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.2s ease;
}



.nav a:first-child {
    border-radius: var(--border-radius-value);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

.nav a:last-child {
    border-radius: var(--border-radius-value);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav a:first-child span {
    border-radius: var(--border-radius-value);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

.nav a:last-child span {
    border-radius: var(--border-radius-value);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}


.nav span.home {
    background-image: url("/images/icons/nav/Home-Icon.svg");
}

.nav span.bound {
    background-size: 24px 24px;
    background-image: url("/images/icons/nav/Bound-Icon.png");
}

.nav span.information {
    background-image: url("/images/icons/nav/Information-Icon.svg");
}

.nav span.settings {
    background-image: url("/images/icons/nav/Settings-Icon.svg");
}

.nav span:hover {
    background-color: var(--button-hover-colour);
}

.nav span:active {
    background-color: var(--button-pressed-colour);
}


.nav span .tooltip {
    visibility: hidden;
    color: white;
    width: 120px;
    backdrop-filter: blur(var(--blur-amount));
    background-color: var(--button-hover-colour);
    text-align: center;
    border-radius: var(--border-radius-value);
    left: 55px;
    /* Position the tooltip */
    transition: ease opacity 0.2s;
    position: absolute;
    opacity: 0;
}

.nav span:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
.nav span:active .tooltip {
    background-color: var(--button-pressed-colour);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--button-disabled-colour); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--button-initial-colour); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover-colour); 
  }
  
/* Create a keyframe animation */
@keyframes openingScreen {
    0% {
        opacity: 1;
        z-index: 10;
        
    }

    80% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        z-index: 10;
    }
    100% {
        z-index: -1;
    }
}

.openingAnimation {
    position: absolute;
    background-color: var(--background-colour);
    width: 100%;
    height: 100%;
    
    z-index: -1;
    opacity: 0;
    animation: openingScreen var(--open-animation-duration) ease;
}

/* Create a keyframe that bounces an image in the center of the screen */
@keyframes bounce {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
        top:50%;
        left:50%;
        width: 100px;
        height: 100px;
        margin: 0;
    }
    25% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    75% {
        transform: translate(-50%, -50%);
        margin: 0;
        top:50%;
        left:50%;
        height: 100px;
        width: 100px;
    }
    100% {
        transform: translate(-25%, -25%);
        top:0;
        left:0;
        margin: 25px;
        height: 50px;
        width: 50px;
    }
}

.openingAnimation .icon {
    margin: 25px;
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(../images/icons/app/appIcon-main.png);
    transform: translate(-50%, -50%);
    
    animation: bounce var(--open-icon-animation-duration) ease-in-out;
}